body::after {
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
body.popup-show::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}

.changePassword {
	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width: $mobile) {
			justify-content: space-between;
		}
	}
	/* .changePassword__title */
	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #1f2428;
		&::before {
			display: none;
		}
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			font-family: Inter;
			font-size: 17px;
			line-height: 22px;
			&::before {
				display: block;
				font-size: 24px;
				margin-right: 25px;
			}
		}
	}
	/* .changePassword__body */
	&__body {
		margin-top: 16px;
		span {
			margin-top: 16px;
			font-family: Inter;
			font-size: 12px;
			line-height: 15px;
			color: #6f6f8b;
			display: block;
		}
	}
	.popup {
		/* .popup__wrapper */
		&__wrapper {
		}
		/* .popup__content */
		&__content {
			@include adaptiveValue('width', 422, 301);
			padding: 32px 40px;
			position: relative;
			background: #f9f9fa;
			box-shadow: 0px 13px 33px -6px rgba(0, 0, 0, 0.07);
			border-radius: 20px;
		}
		/* .popup__close */
		&__close {
			border: 1px solid #e8e9eb;
			box-sizing: border-box;
			border-radius: 12px;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			outline: none;
			img {
				width: 16px;
				height: 16px;
			}
			display: none;
			@media (min-width: $mobile) {
				display: flex;
			}
		}
	}
	.form {
		/* .form__line */
		&__line {
			label {
				font-family: Inter;
				font-size: 14px;
				line-height: 17px;
				color: #6f6f8b;
			}
			& + .form__line {
				margin-top: 16px;
			}
		}
	}
	.input {
		margin-top: 4px;
		padding: 0 12px;
		border: 2px solid #e8e9eb;
		border-radius: 8px;
		height: 46px;
	}
	.button {
		margin-top: 16px;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4px 12px;
		height: 46px;
		width: 100%;
		background: #24cfcf;
		color: #fff;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		@media (min-width: $mobile) {
			height: 40px;
			background: #d4eff0;
			font-size: 13px;
			line-height: 150%;
			color: #21bcc2;
		}
		&:last-child {
			background: #e8e9eb;
			border-radius: 8px;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			color: #8a8aa0;
			margin-top: 8px;
			@media (min-width: $mobile) {
				display: none;
			}
		}
	}
}
