.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label:before {
			background: url('@img/li.svg') no-repeat center center/contain;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
		color: $olive;
		font-family: Inter;
		@include adaptiveValue('font-size', 14, 10);
		line-height: 125%;
		span {
			color: $mainColor;
		}
		&:before {
			content: '';
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 2px solid rgba(23, 23, 23, 0.12);
			border-radius: 5px;
		}
	}
	// .checkbox__text
	&__text {
	}
}
