//<FORM>
// Снипет (HTML):
.form {
	&__row {
		display: grid;
		grid-template: 1fr / repeat(auto-fit, minmax(200px, 1fr));
		@include adaptiveValue('gap', 32, 16);
		@media (min-width: $mobileSmall) {
			grid-template: 1fr / repeat(auto-fit, minmax(330px, 1fr));
		}
		& + .form__row {
			@include adaptiveValue('margin-top', 32, 16);
		}
	}
	&__column {
	}
	&__line {
		display: flex;
		flex-direction: column;
		position: relative;
	}
	/* .form__line-inner */
	&__line-inner {
		position: relative;
		img,
		svg {
			position: absolute;
			right: 12px;
			@include adaptiveValue("top", 13, 7);
		}
	}
	&__input {
	}
	&__button {
	}
	&__error {
		color: red;
		font-size: 12px;
	}
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
// @import "button";

// <INPUTS>
// Снипет (HTML): inp
@import 'input';

// <CHECK>
// Снипет (HTML): chk
@import 'checkbox';

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
@import 'select';

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
@import 'range';
