//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	border: 1px solid #eee;
	&._focus {
	}
	&._error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.input {
	border: 1px solid rgba(23, 23, 23, 0.12);
	border-radius: 10px;
	@include adaptiveValue('height', 50, 36);
	padding: 0 25px;
	font-family: Inter;
	@include adaptiveValue('font-size', 16, 12);
	line-height: 125%;
	color: #78828c;
}
